<div style="text-align: center; background-color: rgba(255,255,255,0.5);">
    <a href="{{site.baseurl}}/">Home</a>
    | <a href="https://akihiko.shirai.as/#papers">Papers</a>
    | <a href="https://lu.ma/u/o_ob">Social</a>
    | <a href="https://akihiko.shirai.as/blog/">Blogs</a>
    | <a href="https://dhgs.shirai.as/">Lab</a>
    | <a href="hhttps://speakerdeck.com/o_ob/">Deck</a>
    | <a href="https://gallery.akihiko.shirai.as/">Gallery</a>
    | <a href="https://github.com/kaitas">GitHub</a>
</div>
