<div style="text-align: center; background-color: rgba(255,255,255,0.5);">
    <a href="{{site.baseurl}}/">Home</a> |
    <a href="{{site.baseurl}}/VRinVR.html">VR in VR</a> |
    <a href="{{site.baseurl}}/online.html">オンライン国際会議</a> |
    <a href="{{site.baseurl}}/Hubs-Controls-jp.html">Hubsの操作</a> |
    <a href="{{site.baseurl}}/geekbar.html">Twitch geekbar</a> |
    <a href="https://docs.google.com/spreadsheets/d/1KpcKR37jDLL2TEzfjGtI78BV2-4bUaUiB-9d7FkfGkM/edit#gid=0">Schedule Builder</a> |
    <br>
    <a href="http://ieeevr.org/2020/">Official</a>
    [<a href="http://ieeevr.org/2020/program/overview.html">Program</a>] 
    <a href="http://ieeevr.org/2020/program/sunday.html">日</a> |
    <a href="http://ieeevr.org/2020/program/monday.html">月</a> |
    <a href="http://ieeevr.org/2020/program/tuesday.html">火</a> |
    <a href="http://ieeevr.org/2020/program/wednesday.html">水</a> |
    <a href="http://ieeevr.org/2020/program/thursday.html">木</a> |
    <a href="https://hubs.ieeevr.online/">[Online]</a> 
    <a href="http://ieeevr.org/2020/online/study.html">Study</a> 
  </div>