/*
    article.css

    since   : Nov. 21, 1998
    version : Aug. 21, 2003
    author  : ASAMI, Tomoharu (asami@XMLSmartDoc.org)
*/

A:link {
  color: green;
}

A:visited {
  color: black;
}

A:hover{
  color: gold;
};

body {
  background: white;
  font-family: times, serif;
}

h1 {
}

h1.title {
  color: black;
  background: gold;
  text-align: center;
  border-style: outset;
  border-color: yellow;
  padding: 10pt;
  margin-left: 60pt;
  margin-right: 60pt;
}

h1.part {
  font-weight: bold;
  color: black;
  background: gold;
  padding: 20pt;
}

h1.chapter {
  color: tan;
  background: black;
  text-align: left;
  padding: 5pt;
}

h2 {
  color: bisque;
  background: #666666;
  padding: 3pt;
}

h3 {
  color: black;
  background: #aaaaaa;
  padding: 2pt;
  margin-right: 100pt;
}

h4 {
  color: black;
  background: #eeeeee;
  padding: 1pt;
  margin-right: 200pt;
}

dfn {
  font-weight: bold;
  font-style: normal;
}

code {
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

li p {
  text-indent: 0pt;
}

dt {
  font-weight: bold;
}

th p {
  text-indent: 0pt;
}

td p {
  text-indent: 0pt;
}

div.table {
  text-align: center;
}

table.data {
  border-collapse: separate;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
  margin-bottom: 10pt;
  background-color: green;
}

table.data caption {
  background-color: khaki;
  font-weight: bold;
}

table.data th {
  color: yellow;
  background-color: lightseagreen;
}

table.data td {
  background-color: antiquewhite;
}

table.data td.key {
  background-color: salmon;
  font-weight: bold;
}


table.menu {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10pt;
  margin-bottom: 10pt;
  text-align: center;
}

table.menu caption {
  background-color: khaki;
  font-weight: bold;
}

table.menu th {
  color: yellow;
  background-color: lightseagreen;
}

table.menu td {
  color: Maroon;
  background-color: antiquewhite;
  font-weight: bold;
  padding: 10pt;
}

table.menu td.key {
  font-size: x-large;
  color: RoyalBlue;
  background-color: LightGreen;
  font-weight: bold;
  padding: 10pt;
}

table.menu td.key A:link {
  color: RoyalBlue;
}

table.menu td.key A:visited {
  color: RoyalBlue;
}

table.navigator {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

table.navigator td {
  text-align: center;
  font-weight: bold;
}

table.languages {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0pt;
  margin-top: 0pt;
  font-size: x-small;
  position: absolute;
  right: 0pt;
}

table.languages td.current {
}

table.languages td.other {
  background-color: Orange;
}

p {
  margin: 0pt;
  text-indent: 1em;
}

p.ja {
  margin: 0pt;
  text-indent: 1em;
}

p.first {
  margin: 0pt;
  text-indent: 0em;
}

p.first_ja {
  margin: 0pt;
  text-indent: 1em;
}

div.title {
  text-align: center;
}

span.title {
  font-size: larger;
}

span.subtitle {
  font-size: smaller;
}

div.toc {
  background-color: cornsilk;
  padding: 10pt;
  border-style: inset;
  border-color: cornsilk;
  margin-top: 10pt;
  margin-bottom: 30pt;
}

div.titletoc {
  background-color: cornsilk;
  padding: 10pt;
  border-style: inset;
  border-color: cornsilk;
  margin-top: 10pt;
  margin-bottom: 30pt;
}

div.date {
  text-align: center;
}

div.org {
  text-align: center;
}

div.author {
  text-align: center;
  font-weight: bold;
}

div.email {
  text-align: center;
}

div.hp {
  text-align: center;
}

div.summary {
  color: maroon;
  background: darkkhaki;
  border-style: inset;
  border-color: khaki;
  margin-top: 20pt;
  margin-bottom: 20pt;
  margin-left: 30pt;
  margin-right: 30pt;
  padding: 5pt;
}

div.comment {
  color: red;
  background: yellow;
}

span.comment {
  color: red;
  background: yellow;
}

div.navigator {
  background: khaki;
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  text-align: center;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

div.navigatortop {
  background: khaki;
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  text-align: center;
  margin-bottom: 10pt;
}

div.navigatorbottom {
  background: khaki;
  border-top: 1pt solid black;
  border-bottom: 1pt solid black;
  text-align: center;
  margin-top: 10pt;
}

div.languages {
  text-align: right;
}

div.footnote {
  background: antiquewhite;
}

div.fyi {
  color: maroon;
  background: peachpuff;
  padding: 5pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

div.fyi div.title {
  background: antiquewhite;
  font-weight: bold;
  padding: 5pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

div.caption {
  background: lavender;
  font-weight: bold;
  padding: 5pd;
  width: 300pt;
  margin-top: 10pt;
}

div.result {
  background: ivory;
  border-style: inset;
  border-color: gold;
  padding: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

span.caption {
  background: lavender;
  font-weight: bold;
}

pre.program {
  background-color: gainsboro;
  font-family: courier, monospace;
  padding: 5pt;
  margin-right: 30pt;
}

pre.program em {
  color: red;
  font-style: normal;
}

pre.program strong {
  color: red;
  background-color: yellow;
  font-style: normal;
}

pre.program span.keyword {
  color: Blue;
  font-style: normal;
}

pre.program span.primitive {
  color: Green;
  font-style: normal;
}

pre.program span.comment {
  color: Red;
  background-color: gainsboro;
  font-style: normal;
}

pre.program span.quote {
  color: OrangeRed;
  font-style: normal;
}


pre.program span.class {
  color: darkcyan;
  font-style: normal;
}

pre.program span.constant {
  color: blueviolet;
  font-style: normal;
}

pre.program span.variable {
  color: DarkGoldenrod;
  font-style: normal;
}

var {
  color: green;
  font-style: italic;
}

tt {
  font-family: courier, monospace;
}

code {
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

pre.console {
  background-color: black;
  color: white;
  font-family: courier, monospace;
  padding: 5pt;
  margin-right: 30pt;
}

pre.console kbd {
  font-family: courier, monospace;
  color: yellow;
}

span.toggle {
  font-weight: bold;
}

div.figure {
  text-align: center;
}

img.figure {
  margin: 10pt;
}

div.equation {
  margin-top: 1em;
  margin-right: 30pt;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 4em;
  padding-bottom: 1em;
  background: powderblue;
}

div.equation table {
}

div.equation table td.padding {
  width:2em
}

td.equationNumber {
  width: 4em;
  text-align: right;
}
