---
layout: default
---
{% for tweet in site.data.tweets %}
<blockquote class="twitter-tweet" data-width="550" data-dnt="true">
 <p lang="ja" dir="ltr"></p><a href="{{ tweet.url }}">{{ tweet.memo }}</a>
</blockquote>
{% endfor %}


<ul>
    {% for tweet in site.data.tweets %}
    <li>
        <a href="https://github.com/{{ tweet.url }}">
            {{ tweet.memo }}
        </a>
    </li>
    {% endfor %}
</ul>
delete tweets
<div class="tweets">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% for post in site.posts  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

  {% if forloop.first %}
  <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
  <h3 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h3>
  <ul>
  {% endif %}
   <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}
  </ul>
  {% else %}
      {% if this_year != next_year %}
      </ul>
      <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
      <h3 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
      <ul>
      {% else %}    
          {% if this_month != next_month %}
          </ul>
          <h3 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h3>
          <ul>
          {% endif %}
      {% endif %}
  {% endif %}
{% endfor %}
<hr>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">[{{ post.date | date: date_format }}]</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a><br>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
